<html>
  <head>
    <title>surface</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
  </head>
  <body>
    <my-app>Loading...</my-app>
    <div class="container-fluid">
      <nav class="row" id="nav">
        <div class="col-xs-12 col-md-6 menu">
          <ul>
            <li><a href="###"><img src="img/logo.png" alt="dockyard" /></a></li>
            <li><a href="###">Repositories</a></li>
            <li><a href="###">Organizations</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6 user">
          <ul class="pull-right">
            <li><input type="text" placeholder="search" /></li>
            <li class="relative">
              <a id="#createRepo" data-toggle="dropdown"><i class="fa fa-plus"></i>Create</a>
              <ul class="dropdown-menu" id="createRepo">
                <li><a href="###"><i class="fa fa-book"></i>Create Repository</a></li>
                <li><a href="###"><i class="fa fa-users"></i>Create Organization</a></li>
              </ul>
            </li>
            <li class="relative">
              <a id="#userSetting" data-toggle="dropdown"><i class="fa fa-user"></i>User</a>
              <ul class="dropdown-menu" id="userSetting">
                <li><a href="###"><i class="fa fa-book"></i>Setting</a></li>
                <li><a href="###"><i class="fa fa-users"></i>Login Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div id="createOrg">
        <div class="steps">
          <p class="guide">
            Organizations can have multiple Teams. Teams can have differing permissions. Namespace is unique and this is where repositories for this organization will be created. 
          </p>
          <ul class="step-nav">
            <li><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
            <li><span>4</span></li>
          </ul>
        </div>
        <div class="create">
          <div class="first-step">
            <input type="text" placeholder="Namespace" />
            <input type="text" placeholder="Organization Name" />
            <input type="text" placeholder="Company" />
            <input type="text" placeholder="Location" />
            <input type="text" placeholder="Gravatar Email" />
            <input type="text" placeholder="Website URL" />
            <input type="text" placeholder="Location" />
            <button class="save">Create</button>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
