<html>
  <head>
    <title>surface</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="row" id="nav">
        <div class="col-xs-12 col-md-6 menu">
          <ul>
            <li><a href="###"><img src="img/logo.png" alt="dockyard" /></a></li>
            <li><a href="###">Repositories</a></li>
            <li><a href="###">Organizations</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6 user">
          <ul class="pull-right">
            <li><input type="text" placeholder="search" /></li>
            <li class="relative">
              <a href="#createRepo" data-toggle="collapse"><i class="fa fa-plus"></i>Create</a>
              <ul class="panel-collapse collapse" id="createRepo">
                <li><a href="###"><i class="fa fa-book"></i>Create Repository</a></li>
                <li><a href="###"><i class="fa fa-users"></i>Create Organization</a></li>
              </ul>
            </li>
            <li class="relative">
              <a href="#userSetting" data-toggle="collapse"><i class="fa fa-user"></i>User</a>
              <ul class="panel-collapse collapse" id="userSetting">
                <li><a href="###"><i class="fa fa-book"></i>Setting</a></li>
                <li><a href="###"><i class="fa fa-users"></i>Login Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div id="orgList">
        <p class="col-xs-10 col-xs-offset-1 title">
          <span class="pull-left">Organizations & Teams</span>
          <button class="pull-right cursor-point">
            <i class="fa fa-plus"></i>
            Create Organization
          </button>
        </p>
        <div class="row">
         <!--  <div class="col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
            <div class="media-org">
              <a href="javascript:void(0)" class="org-left">
                <img src="img/logo.png"/>
                <span>org name</span>
              </a>
              <a href="javascript:void(0)" class="org-body">
                <span>3575</span><br/>
                <small>repo num</small>
              </a>          
            </div>      
          </div> -->
          <div class="col-xs-10 col-md-4">
            <div class="media-org">
              <a href="javascript:void(0)" class="org-left">
                <img src="img/logo.png"/>
                <span>org name</span>
              </a>
              <a href="javascript:void(0)" class="org-body">
                <p><span>575</span><br/>
                <small>team num</small></p>
                <p><span>3575</span><br/>
                <small>repo num</small></p>
              </a>          
            </div>      
          </div>
          <div class="col-xs-10 col-md-4">
            <div class="media-org">
              <a href="javascript:void(0)" class="org-left">
                <img src="img/logo.png"/>
                <span>org name</span>
              </a>
              <a href="javascript:void(0)" class="org-body">
                <p><span>575</span><br/>
                <small>team num</small></p>
                <p><span>3575</span><br/>
                <small>repo num</small></p>
              </a>          
            </div>      
          </div>
          <div class="col-xs-10 col-md-4">
            <div class="media-org">
              <a href="javascript:void(0)" class="org-left">
                <img src="img/logo.png"/>
                <span>org name</span>
              </a>
              <a href="javascript:void(0)" class="org-body">
                <p><span>575</span><br/>
                <small>team num</small></p>
                <p><span>3575</span><br/>
                <small>repo num</small></p>
              </a>          
            </div>      
          </div>
          <div class="col-xs-10 col-md-4">
            <div class="media-org">
              <a href="javascript:void(0)" class="org-left">
                <img src="img/logo.png"/>
                <span>org name</span>
              </a>
              <a href="javascript:void(0)" class="org-body">
                <p><span>575</span><br/>
                <small>team num</small></p>
                <p><span>3575</span><br/>
                <small>repo num</small></p>
              </a>          
            </div>      
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
