<div id="orgList">
  <p class="col-xs-10 col-xs-offset-1 title">
    <span class="pull-left">Organizations & Teams</span>
    <button class="pull-right cursor-point">
      <i class="fa fa-plus"></i>
      Create Organization
    </button>
  </p>
  <div class="row">
   <!--  <div class="col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
      <div class="media-org">
        <a href="javascript:void(0)" class="org-left">
          <img src="img/logo.png"/>
          <span>org name</span>
        </a>
        <a href="javascript:void(0)" class="org-body">
          <span>3575</span><br/>
          <small>repo num</small>
        </a>          
      </div>      
    </div> -->
    <div class="col-xs-10 col-md-4" *ngFor="let org of orgList">
      <div class="media-org">
        <a href="javascript:void(0)" class="org-left">
          <img src={{org.gravatar}}/>
          <span>{{org.name}}</span>
        </a>
        <a href="javascript:void(0)" class="org-body">
          <p><span>{{org.teams}}</span><br/>
          <small>team num</small></p>
          <p><span>{{org.repositories}}</span><br/>
          <small>repo num</small></p>
        </a>          
      </div>      
    </div>
  </div>
</div>

