<div id="orgList">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 title">
      <p class="col-xs-12 col-md-4 pad-no">
        <button class="cursor-point" (click)="orgCreate('orgCreate')">
          <i class="fa fa-plus"></i>
          Create Organization
        </button>
      </p>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-xs-10 col-md-4" *ngFor="let org of orgList">
      <div class="media-org">
        <a href="javascript:void(0)" class="org-left">
          <img src={{org.gravatar}}/>
          <span>{{org.name}}</span>
        </a>
        <a href="javascript:void(0)" class="org-body">
          <p><span>{{org.teams}}</span><br/>
          <small>team num</small></p>
          <p><span>{{org.repositories}}</span><br/>
          <small>repo num</small></p>
        </a>          
      </div>      
    </div> -->
    <div class="col-md-10 col-md-offset-1 col-xs-12 pad-no">
      <div class="row">
        <div class="col-xs-12 col-md-4" *ngFor="let org of orgList">
          <div class="media-org">
            <a href="javascript:void(0)" class="org-left">
              <img src={{org.gravatar}}/>
              <span>{{org.name}}</span>
            </a>
            <a href="javascript:void(0)" class="org-body">
              <p class="mar-t-twenty"><span>{{org.teams}}</span><br/>
              <small>team num</small></p>
              <p class="mar-t-twenty"><span>{{org.repositories}}</span><br/>
              <small>repo num</small></p>
            </a>          
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>

