<html>
  <head>
    <title>surface</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
  </head>
  <body>
    <div id="orgList">
      <p class="col-xs-10 col-xs-offset-1 title">
        <span class="pull-left">Organizations & Teams</span>
        <button class="pull-right cursor-point">
          <i class="fa fa-plus"></i>
          Create Organization
        </button>
      </p>
      <div class="row">
       <!--  <div class="col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
          <div class="media-org">
            <a href="javascript:void(0)" class="org-left">
              <img src="img/logo.png"/>
              <span>org name</span>
            </a>
            <a href="javascript:void(0)" class="org-body">
              <span>3575</span><br/>
              <small>repo num</small>
            </a>          
          </div>      
        </div> -->
        <div class="col-xs-10 col-md-4" *ngFor="let org of orgList">
          <div class="media-org">
            <a href="javascript:void(0)" class="org-left">
              <img src={{org.gravatar}}/>
              <span>{{org.name}}</span>
            </a>
            <a href="javascript:void(0)" class="org-body">
              <p><span>{{org.teams}}</span><br/>
              <small>team num</small></p>
              <p><span>{{org.repositories}}</span><br/>
              <small>repo num</small></p>
            </a>          
          </div>      
        </div>
      </div>
    </div>
  </body>
</html>
