@import "font.less";
@import "color.less";
@import "space.less";

* {
	margin: 0;
	padding: 0;
	word-break:break-all;
}

a {
	color: @black;
}

a, a:hover, a:active {
	text-decoration: none !important;
}

ul {
	list-style: none;
}

input, textarea, select, button, input:focus, textarea:focus, select:focus, button:hover, button:focus {
	outline: none;
	border: none;
}

.relative {
	position: relative;
}

.col-orange {
	color: @orange;
}

.col-gray {
	color: @gray;
}

.col-skyblue {
	color: @blue;
}

.bg-brownness {
	color: @brownness;
}

.mar-tp-no {
	margin-top: 0;
}

.mar-lt {
	margin-left: 10px;
}

.mar-tb-twenty {
	margin-top: 20px;
	margin-bottom: 20px;
}

.over-hidden {
	overflow: hidden;
}

.cursor-point {
	cursor: pointer;
}

.disp-no {
	display: none;
}

.container-fluid {
	padding: 0;
}

.row {
	margin: 0;
}


body {
	font-size: @baseFontSize;
	background: #F0EFF5;
	// font-family: Microsoft YaHei;
}

/* index start */
#header {
	overflow: hidden;
	font-size: 14px;
	padding: 15px 12px;
	background: lightblue;
}

#header, #header .space {
	color: @white;
}

#header img {
	width: 40px;
	height: 40px;
}

.nav-rt .space {
	margin-left: 10px;
}

.search {
	margin-top: 40px;
	margin-bottom: 20px;
}

.search input {
	width: 40%;
	color: #000;
	padding: 6px 12px;
	font-size: 12px;
}

.content-one {
	overflow: hidden;
	background: @white;
	padding: 40px;
}

.content-one .space {
	display: block;
	width: 100%;
}

.content-one .features {
	width: 150px;
	margin-right: 50px;
}

.content-one .character {
	padding: 5px 12px;
	background: lightblue;
	color: @white;
}

.content-one .title {
	padding: 10px 0;
}

.content-two {
	background: lightblue;
	padding: 40px 0;
	font-size: 0;
	color: @white;
}

.content-two .space {
	display: inline-block;
	font-size: 14px;
	vertical-align: bottom;
	width: 80%;
	margin-left: 10%;
}

.content-two .font-big { 
	font-size: 16px;
}

.surface-carousel {
	width: e("calc(100% - 200px)");
	width: e("-webkit-calc(100% - 200px)");
	height: 250px;
	border: 1px solid @gray;
}

.content-three {
	background: @white;
	padding: 40px 0;
}

.content-three .space {
	width: 75%;
	margin: 0 auto;
}

.content-three img {
	width: e("calc((75% - 120px) / 3 )");
	width: e("-webkit-calc((75% - 120px) / 3 )");
	height: 200px;
	margin-left: 30px;
	border: 1px solid #b3b3b3;
}

#footer {
	padding: 20px 12px;
	background: lightblue;
	color: @white;
	overflow: hidden;
}

#footer .space {
	padding: 4px 14px;
	border-radius: 24px;
	background: #d7d7d7;
	margin-left: 10px;
	font-size: 14px;
}
/* index end */

/* nav start */
#nav {
	width: 100%;
	height: 44px;
	// margin-bottom: @baseMargin;
	background: @black;
}

#nav .menu, #nav .user {
	height: 100%;
}

#nav .menu a, #nav .user a {
	font-size: 14px;
	color: @gray;
}

#nav a:hover, #nav a:active, #createRepo a:hover, #createRepo:active{
	color: @white;
	background: #b3b3b3;
	border-radius: @baseRadius;
}

#createRepo a:hover, #createRepo a:active, #userSetting a:hover, #userSetting a:active {
	border-radius: 0;
}

#nav .menu img {
	width: 50px;
	height: 100%;
}

#nav .menu ul {
	width: 70%;
	float: left;
	overflow: hidden;
}

#nav .menu ul li a, #nav .user > ul > li > a {
	padding: 0 12px;
	height: 28px;
	line-height: 28px;
	margin-top: 9px;
	margin-left: @baseMargin+2px;
}

#nav .user > ul > li > a {
	padding: 0;
}

#nav .menu ul li a, #nav .user > ul > li {
	float: left;
}

#nav .user > ul > li > a {
	display: inline-block;
	width: 120px;
}

#nav .user > ul > li {
	height: 44px;
}

#nav .user > ul > li input {
	width: 100%;
	height: 28px;
	margin-top: 8px;
	padding: 0 5px;
	border-radius: @baseRadius;
	background: #e7e7e7;
	font-size: 14px;
}

#nav .user > ul > li input:focus {
	background: @white;
}

#createRepo, #userSetting {
	width: 200px;
	background: @black;
	position: absolute;
	top: 44px;
	left: -66px;
	z-index: 10000;
}

#userSetting {
	width: 120px;
	left: 12px;
}

#createRepo ul li, #createRepo ul li a, #userSetting ul li, #userSetting ul li a {
	width: 100%;
}

#createRepo ul li, #userSetting ul li {
	height: 44px;
}

#createRepo a, #userSetting a {
	display: inline-block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-size: 14px;
}
#nav i {
	margin: 0 5px 0 10px;
}
/* nav end */

/* repo list start */
#repoList {
	// margin-top: @baseMargin+50px;
}

#repoList .filter-repo {
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	margin-top: @baseMargin+55px;
	margin-bottom: @baseMargin+70px;
}

#repoList .filter-repo input {
	width: 500px;
	margin-right: @baseMargin;
	// background: #eaeaea;
	border: 1px solid #eaeaea;
	border-radius: 24px 24px 24px 24px;
	padding: 0 12px;
	font-size: 14px;
}

#repoList .filter-repo .search {
	position: absolute;
	right: 30px;
	top: -3px;
	padding: 5px;
	cursor: pointer;
}

#repoList .content {
	width: 100%;
	margin-left: @baseMargin+2px;
}

#repoList .media-repo {
	margin-top: @baseMargin+30px;
}

#repoList .repo-left {
	border-top: 1px solid #000;
}

#repoList .repo-left span {
	display: inline-block;
	width: 90%;
	height: 40px;
	line-height: 40px;
	text-overflow:ellipsis;
}

#repoList .repo-left span:first-child {
	border-bottom: 1px solid #b3b3b3;
	height: 40px;
	font-size: 16px;
	color: #000;
}

#repoList .repo-body a {
	display: inline-block;
	width: 42%;
	padding: 12px;
	margin-bottom: @baseMargin+10px;
	background: #eaeaea;
	vertical-align: top;
}

#repoList .repo-body a:nth-child(2n) {
	margin-left: 8%;
}

#repoList .repo-body h3{
	margin-top: 8px;
	font-size: 20px;
}

#repoList .repo-body h5 {
	font-size: 16px;
}

#repoList .star-fork {
	font-size: 20px;
	margin-top: @baseMargin+50px;
	margin-bottom: 0;
	position: relative;
}

#repoList .star-fork i {
	font-size: 24px;
}

#repoList .star-fork i.fa-info-circle {
	font-size: 18px;
	position: absolute;
	top: 8px;
	right: -4px;
	opacity: 0.5;
}
/* repo list end */

/* repo create start */
#newRepo {
	margin-top: @baseMargin+50px;
}

#newRepo .guide {
	position: relative;
}

#newRepo li {
	height: auto;
	width: 100%;
	padding-bottom: 50px;
	border-left: 1px dashed #b3b3b3;
}


#newRepo li:last-child {
	border: none;
}

#newRepo li span {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	font-size: 16px;
	background: gainsboro;
	color: @white;
	vertical-align: top;
	position: relative;
	left: -20px;
}

#newRepo li:first-child span {
	background: @brownness;
}

#newRepo li:last-child span {
	top: 5px;
}

#newRepo li b {
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
	width: e("calc(100% - 52px)");
	width: e("-webkit-calc(100% - 52px)");
}

#newRepo .info {
	background: gainsboro;
	padding: 24px 20px;
}

#newRepo input, #newRepo textarea {
	width: 95%;
	padding: 12px;
	font-size: 16px;
	background: none;
	color: @white;
	border-bottom: 1px solid @white;
}

#newRepo input::-webkit-input-placeholder, #newRepo textarea::-webkit-input-placeholder {
	color: #ddd;
}

#newRepo textarea {
	height: 200px;
	border: 1px solid @white;
}

#newRepo .visible-type {
	margin: @baseMargin+5px auto @baseMargin+15px;
	font-size: 16px;
}

#newRepo .visible-type > span {
	display: inline-block;
	width: 65px;
	color: @white;
}

#newRepo .visible-type label {
	color: @white;
	width: e("calc(95% - 65px)");
	width: e("-webkit-calc(95% - 65px)");
}

#newRepo .visible-type input {
	width: 18px;
	height: 18px;
	position: relative;
	top: 5px;
}

#newRepo .visible-type input:active, #newRepo .visible-type input:focus {
	outline: none;
	border: none;
}

#newRepo .visible-type input:last-child {
	margin-left: @baseMargin;
}

#newRepo select {
	width: e("calc(95% - 60px)");
	width: e("-webkit-calc(95% - 60px)");
	padding: 12px;
	color: @gray;
}

#newRepo option {
	padding: 12px;
}

#newRepo .btn-create {
	font-size: 16px;
	width: 70px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: @baseRadius;
	color: @white;
	background: @gray;
}

#newRepo .btn-create:hover {
	background: #c9caaa;
}
/* repo create end */

/* repo detail start */ 
#repoDetail {

}

#repoDetail .praise {
	text-align: center;
	font-size: 22px;
	margin-bottom: @baseMargin+40px;
}

#repoDetail .praise i {
	font-size: 24px;
	margin-left: @baseMargin;
}

#repoDetail .space {
	width: 94%;
	margin-left: 3%;
	margin-bottom: @baseMargin+40px;
	font-size: 16px;
	background: @white;
}

#repoDetail .expend {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10000;
	font-size: 20px;
	color: #fff;
	height: 100%;
	width: 30px;
	line-height: 40px;
	text-align: center;
}

#repoDetail .space > a {
	display: block;
	background: #000;
	color: @white;
	height: 44px;
	line-height: 44px;
	padding: 0 12px;
	position: relative;
}

// #repoDetail h4:hover, #repoDetail h4:active {
// 	background: #b3b3b3;
// }

#info {
	padding: 12px;
}

#info .command {
	background: #eaeaea;
	color: @gray;
	padding: 5px 10px;
}

#info h4 {
	position: relative;
}

#info .copy {
	position: absolute;
	right: -4px;
	top: -7px;
	z-index: 10000;
	background: #d7d7d7;
	padding: 5px;
}

#info .desc {
	background: #eaeaea;
	padding: 5px 10px;
	margin-top: @baseMargin;
}

#info li {
	margin-top: @baseMargin;
}

#info .desc
/* repo detail end */ 

/* org list start */
#orgList, #repoDetail {
	margin-top: @baseMargin+40px;
}

#orgList {
	margin-top: @baseMargin+30px;
}

#orgList .title {
	font-size: 16px;
}

#orgList .title button {
	background: @white;
	color: @gray;
	padding: 10px 20px;
	border: 1px solid @blue;
	border-radius: 24px;
}

#orgList .title button:hover, #orgList .title button:focus, #orgList .title button:active {
	color: @white;
	background: @blue;
}

#orgList .media-org {
	border: 1px solid #d7d7d7;
	border-radius: 16px;
	margin-top: @baseMargin+30px;
	width: 90%;
	margin-left: 5%;
	padding: 24px 0;
}

#orgList .org-left, #orgList .org-body {
	display: inline-block;
	// padding: 24px 12px;
}

#orgList .org-left {
	width: 35%;
	padding: 20px 10px;
	border-right: 1px solid #d7d7d7;
	text-align: center;
	vertical-align: super;
}

#orgList .org-body {
	width: e("calc(65% - 16px)");
	width: e("-webkit-calc(65% - 16px)");
	text-align: center;
	color: @blue;
}

#orgList .org-body span{
	font-size: 30px;
}

#orgList .org-body small {
	color: @gray;
}

#orgList img {
	width: 60px;
	height: 60px;
	max-width: 100%;
	border: 1px solid @gray;
	border-radius: 50%;
	padding: 10px;
}

#orgList .org-left span {
	display: block;
	width: 100%;
	margin-top: @baseMargin+5px;
	font-size: 16px;
}

/* org list end */

/* org create start */
#createOrg {
	padding-top: 60px;
	// background: @white;
	height: 100%;
	width: 100%;
}

#createOrg .guide {
	width: 37%;
	font-size: 16px;
}

#createOrg .steps {
	width: 80%;
	margin: 0 auto;
}

#createOrg .step-nav {
	height: 44px;
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

#createOrg li {
	width: 25%;
	border-bottom: 1px solid @gray;
	float: left;
}

#createOrg li span {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	font-size: 16px;
	text-align: center;
	color: @white;
	background: @gray;
	position: relative;
	top: 20px;
}

#createOrg li:first-child span {
	background: #c9caaa;
}

#createOrg .create {
	width: 80%;
	margin: 60px auto 0;
	padding: 12px 24px;
	background: @white;
}

#createOrg .first-step input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 12px 0;
	padding: 0 12px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #d7d7d7;
}

#createOrg .first-step .save {
	font-size: 16px;
	color: @white;
	padding: 12px 20px;
	border-radius: 5px;
	background: #eaeaea;
}
/* org create end */