<div id="repoList">
  <p class="filter-repo">
    <span class="relative">
      <input type="text" />
      <i class="fa fa-search search"></i>
    </span>
    <span class="col-skyblue cursor-point">
      <i class="fa fa-plus"></i>
      Create Repository
    </span>
  </p>
  <div class="content">
    <div class="row media-repo" *ngFor="let item of orgRepo">
      <p class="col-xs-4 col-md-2 col-md-offset-1 repo-left text-center">
        <span>{{item.name}}</span><br/>
        <span>{{item.bio}}</span>
      </p>
      <div class="col-xs-12 col-md-7 col-md-offset-2 repo-body">
        <a href="###" *ngFor="let repo of item.children">
          <h3>{{repo.namespace}}/{{repo.repository}}</h3>
          <h5 class="col-gray">{{repo.description}}</h5>
          <p class="star-fork">
            <i class="fa fa-star col-orange"></i> {{repo.star}} 
            <span class="disp-no"><i class="fa fa-code-fork mar-lt"></i> 100 </span>
            <i class="fa fa-info-circle"></i>
          </p>
        </a>
      </div>
    </div>
  </div>
</div> 
 
