<div class="container-fluid" id="access">
  <div class="header">
    <img src="img/banner.jpg"/>
    <span class="title">Retrieve password</span>
  </div>
  <div class="content">
    <div class="login-content">
      <div class="login forget-pwd">
        <span class="space">
          Enter your email address and we will send you a link to reset your password
        </span>
        <small class="tips" *ngIf="isTips.otherError">send email failed</small>
        <span class="space user">
          <input type="text" placeholder="email" [(ngModel)]="user.email" name="email" autocomplete="off" (change)="tips('otherError',false)">
          <i class="fa fa-envelope"></i>
        </span>
        <button class="space sign-in" (click)="sendEmail()">Send</button>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">
          <p class="col-md-5 col-xs-12 intro" >
            Lorem ipsum dolor sit amet A rerum vel est quae accusamus adipisci odio im. Ipsam.
          </p>
          <p class="col-md-7 col-xs-12 team">
            <span class="space">Privacy</span>
            <span class="space">About</span>
            <span class="space">Teams</span>
            <span class="space" (click)="changeNav('contact')">Contact</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="logo"><img src="img/opshub_03.png" /></div>
    <div class="menu">
      <a href="javascript:void(0)" class="space" (click)="changeNav('browse')">Browse</a>
      <a href="javascript:void(0)" class="space tutorial">Tutorial</a>
      <a href="javascript:void(0)" class="space docs">Docs</a>
      <a href="javascript:void(0)" class="space" (click)="changeNav('login')">Login</a>
      <a href="javascript:void(0)" class="space" (click)="changeNav('register')">Sign Up</a>
      <a href="javascript:void(0)" class="space-remain">.</a>
    </div>
  </div>
</div>

