<div class="container-fluid" id="app">
  <div class="banner">
    <img src="img/app_banner.jpg"/>
    <input type="text" class="search-info"/>
  </div>
  <div class="navbar">
    <div class="logo">
      <img src="img/opshub_03.png" />
    </div>
    <div class="menu">
      <a href="javascript:void(0)" class="space" (click)="changeNav('browse')">Browse</a>
      <a href="javascript:void(0)" class="space tutorial">Tutorial</a>
      <a href="javascript:void(0)" class="space docs">Docs</a>
      <a href="javascript:void(0)" class="space" (click)="changeNav('login')">Login</a>
      <a href="javascript:void(0)" class="space" (click)="changeNav('register')">Sign Up</a>
      <a href="javascript:void(0)" class="space-remain">.</a>
    </div>
  </div>
  <div class="content">
    <div class="row content-two">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">
          <p class="col-xs-12 col-md-10 col-md-offset-1 title">
            On-premises containers as a service with docker datacenter
          </p>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 pad-lt-twenty">
            <p class="space font-big">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nam, voluptatum adipisci, consequatur facilis asperiores iusto. Eligendi ad aspernatur ea, atque, odio quis laboriosam amet. Ipsum, molestias delectus labore velit. 
            </p>
          </div>
          <div class="col-xs-12 col-md-4 pad-lt-twenty">
            <p class="space">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla delectus natus ullam, tempora tempore vero quos ad explicabo animi, adipisci ratione consectetur quaerat sint repellendus culpa veritatis qui error modi.
            </p>
          </div>
          <div class="col-xs-12 col-md-4 pad-lt-twenty">
            <p class="space">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic architecto veniam ipsum debitis quo deleniti delectus qui ut eius minima enim non atque expedita, quisquam voluptas possimus, iusto aut.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row content-three">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-xs-12 col-md-4 space">
            <img src="img/opshub.png" />
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel ullam ea! Mollitia, blanditiis. Animi velit laborum ab repellendus esse labore porro iste quibusdam eligendi vel minus, provident distinctio blanditiis.</p>
          </div>
          <div class="col-xs-12 col-md-4 space">
            <img src="img/opshub.png" />
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel ullam ea! Mollitia, blanditiis. Animi velit laborum ab repellendus esse labore porro iste quibusdam eligendi vel minus, provident distinctio blanditiis.</p>
          </div>
          <div class="col-xs-12 col-md-4 space">
            <img src="img/opshub.png" />
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel ullam ea! Mollitia, blanditiis. Animi velit laborum ab repellendus esse labore porro iste quibusdam eligendi vel minus, provident distinctio blanditiis.</p>
          </div>
        </div>     
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">
          <p class="col-md-5 col-xs-12 intro" >
            Lorem ipsum dolor sit amet A rerum vel est quae accusamus adipisci odio im. Ipsam.
          </p>
          <p class="col-md-7 col-xs-12 team">
            <span class="space">Privacy</span>
            <span class="space">About</span>
            <span class="space">Teams</span>
            <span class="space" (click)="changeNav('contact')">Contact</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
