<div class="container-fluid" id="access">
  <div class="header">
    <img src="img/banner.png" />
    <span class="text">Sign in the container repository</span>
  </div>
  <div class="content">
    <div class="login">
      <span class="space user">
        <input type="text" placeholder="Username or Email" [(ngModel)]="user.username" name="username">
      </span>
      <span class="space pwd">
        <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password">
      </span>
      <button class="space sign-in" (click)="login()">Sign in</button>
      <a href="###" class="forget-pwd">Forgot your password ?</a>
      <div class="space">
        <span class="pull-left google">
          Sign in with <i class="fa fa-star"></i>
        </span>
        <span class="pull-right github">
          Sign in with <i class="fa fa-star"></i>
        </span>
      </div>
    </div>
    <div class="sign-up"></div>
  </div>
  <div class="row footer">
    <p class="col-md-7 col-md-offset-1 col-xs-12 intro" >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A rerum vel est quae accusamus adipisci odio im. Ipsam.
    </p>
    <p class="col-md-2 col-md-offset-1 col-xs-12 team">
      <span class="space">Privacy</span>
      <span class="space">About</span>
      <span class="space">Teams</span>
      <span class="space">Contact</span>
    </p>
  </div>
  <div class="navbar">
    <div class="logo"><img src="img/opshub.png" /></div>
    <div class="menu">
      <a href="###" class="space">Privacy</a>
      <a href="###" class="space">About</a>
      <a href="###" class="space">Teams</a>
      <a href="javascript:void(0)" class="space">Login</a>
      <a href="###" class="space-remain">.</a>
    </div>
  </div>
</div>

