<div class="container-fluid">
  <nav class="row" id="nav">
    <div class="col-xs-12 col-md-5 menu">
      <ul>
        <li><a href="###"><img src="img/logo.png" alt="dockyard" /></a></li>
        <li><a href="###">Repositories</a></li>
        <li><a href="###">Organizations</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-5 col-md-offset-2 user">
      <ul class="pull-right">
        <li><input type="text" placeholder="search" /></li>
        <li class="relative">
          <a href="#createRepo" data-toggle="collapse"><i class="fa fa-plus"></i>Create</a>
          <ul class="panel-collapse collapse" id="createRepo">
            <li><a href="###"><i class="fa fa-book"></i>Create Repository</a></li>
            <li><a href="###"><i class="fa fa-users"></i>Create Organization</a></li>
          </ul>
        </li>
        <li class="relative">
          <a href="#userSetting" data-toggle="collapse"><i class="fa fa-user"></i>User</a>
          <ul class="panel-collapse collapse" id="userSetting">
            <li><a href="###"><i class="fa fa-book"></i>Setting</a></li>
            <li><a href="###"><i class="fa fa-users"></i>Login Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>