<html>
  <head>
    <title>{{.Title}}</title>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="css/lib.min.css" rel="stylesheet" />
    <link href="css/app.min.css" rel="stylesheet" />
  </head>
  <body>
    <div id="registerEmail">
      <div class="verticl">
        <img src="img/email_logo.png">
        <p class="text">
          Congratulations you have successfully registered OpsHub,<br/>
          thank you for choosing OpsHub!
        </p>
        <span class="do-login">Login OpsHub</span>
      </div>
    </div>
  </body>
</html>
