<div class="container-fluid" id="access">
  <div class="header">
    <img src="img/banner.jpg"/>
    <span class="title">Sign up for Dockyard</span>
  </div>
  <div class="content">
    <div class="login-content">
      <div class="sign-up">
        <small class="tips" *ngIf="isTips.otherError">{{isTips.otherText}}</small>
        <span class="space user">
          <input type="text" placeholder="Username" [(ngModel)]="user.username" name="username" autocomplete="off">
          <i class="fa fa-user"></i><br/>
          <small class="tips" *ngIf="isTips.username">username is required</small>
          <small class="tips" *ngIf="isTips.isUsernameRight">username is invalid</small>
        </span>
        <small class="require">*user name must be the numbers and letters</small>
        <span class="space user">
          <input type="text" placeholder="Email" [(ngModel)]="user.email" name="email" autocomplete="off">
          <i class="fa fa-envelope"></i><br/>
          <small class="tips" *ngIf="isTips.email">{{isTips.emailText}}</small>
        </span>
        <span class="space pwd">
          <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" autocomplete="off">
          <i class="fa fa-lock"></i><br/>
          <small class="tips" *ngIf="isTips.password">{{isTips.passwordText}}</small>
        </span>
        <small class="require">*Password at least 8 bit,it contains numbers, capital letters,not including user name</small>
        <button class="space sign-in" (click)="signUp()">Sign Up</button>
      </div>
    </div>
  <div class="row footer">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">
          <p class="col-md-5 col-xs-12 intro" >
            Lorem ipsum dolor sit amet A rerum vel est quae accusamus adipisci odio im. Ipsam.
          </p>
          <p class="col-md-7 col-xs-12 team">
            <span class="space">Privacy</span>
            <span class="space">About</span>
            <span class="space">Teams</span>
            <span class="space" (click)="changeNav('contact')">Contact</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="logo"><img src="img/opshub_03.png" /></div>
    <div class="menu">
      <a href="javascript:void(0)" class="space" (click)="changeNav('browse')">Browse</a>
      <a href="javascript:void(0)" class="space tutorial">Tutorial</a>
      <a href="javascript:void(0)" class="space docs">Docs</a>
      <a href="javascript:void(0)" class="space" (click)="changeNav('login')">Login</a>
      <a href="javascript:void(0)" class="space active" (click)="changeNav('register')">Sign Up</a>
      <a href="javascript:void(0)" class="space-remain">.</a>
    </div>
  </div>
</div>

