<div class="container-fluid" id="access" class="explore">
  <div class="header">
    <img src="img/banner.jpg"/>
    <span class="title">public repositories</span>
  </div>
  <div class="row user-repo">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <div class="row">
        <div class="media-repo">
          <p class="col-xs-12 col-md-3 repo-left">
            <img src="img/user.png" />
            <span>user name</span>
            <span class="time">Joined on 23 Dec 2015</span>
          </p>
          <div class="col-xs-12 col-md-9 repo-body">
            <div class="row">
              <div class="col-xs-12 col-md-6 pad-lr-five" *ngFor="let item of repoList">
                <a href="javascript:void(0)" (click)="repoDetail(item)">
                  <h3>{{item.namespace}}/{{item.repository}}</h3>
                  <h5 class="col-gray">{{item.description}}</h5>
                  <p class="star-fork">
                    <i class="fa fa-star col-orange"></i> {{item.star}} 
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">
          <p class="col-md-5 col-xs-12 intro" >
            Lorem ipsum dolor sit amet A rerum vel est quae accusamus adipisci odio im. Ipsam.
          </p>
          <p class="col-md-7 col-xs-12 team">
            <span class="space">Privacy</span>
            <span class="space">About</span>
            <span class="space">Teams</span>
            <span class="space" (click)="changeNav('contact')">Contact</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="logo"><img src="img/opshub_03.png" /></div>
    <div class="menu">
      <a href="javascript:void(0)" class="space" (click)="changeNav('browse')">Browse</a>
      <a href="javascript:void(0)" class="space tutorial">Tutorial</a>
      <a href="javascript:void(0)" class="space docs">Docs</a>
      <a href="javascript:void(0)" class="space" (click)="changeNav('login')">Login</a>
      <a href="javascript:void(0)" class="space" (click)="changeNav('register')">Sign Up</a>
      <a href="javascript:void(0)" class="space-remain">.</a>
    </div>
  </div>
</div>

