<div id="userSet">
  <p class="title">User Setting</p>
  <div class="content">
    <ul class="nav nav-tabs user-nav">
      <li class="active">
        <a href="#userInfo" data-toggle="tab">Base Info</a>
      </li>             
      <li>
        <a href="#notify" data-toggle="tab">Notifications</a>
      </li>
      <li>
        <a href="#linkAccount" data-toggle="tab">Linked Accounts</a>
      </li>
    </ul>
    <div class="tab-content user-content">
      <div id="userInfo" class="tab-pane active">
        <p class="tips">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe a rerum eligendi, iste deserunt fugit id dicta modi nam quidem sed velit soluta earum natus, vel eveniet quo suscipit animi.
        </p>
        <div class="edit-info">
          <div class="over-hidden">
            <p class="pull-left visib">
              <input type="radio" name="visib" value="0"/>public
              <input type="radio" name="visib" value="1"/>private
            </p>
            <div class="pull-left email">
              <input type="email" [(ngModel)]="user.email" name="email"/> 
              <button class="add-email" (click)="addEmail()">add email</button>
              <ul class="emails">
                <li *ngFor="let item of emailList; let i = index">
                  <span class="addr">{{item.email}}</span>
                  <span class="verified" (click)="sendEmail(item)">{{item.verify? 'verified' : 'Send Email'}}</span>
                  <span class="relation">{{item.primary? 'primary' : 'Sub'}}</span>
                  <span class="delet" *ngIf="i!==0" (click)="delEmail(item)"><i class="fa fa-trash-o"></i></span>
                </li>
            <!--     <li>
                  <span class="addr">dockyard@163.com</span>
                  <span class="verified">Send Email</span>
                  <span class="relation">Sub</span>
                  <span class="delet"><i class="fa fa-trash-o"></i></span>
                </li>
                <li>
                  <span class="addr">dockyard@163.com</span>
                  <span class="verified">Send Email</span>
                  <span class="relation">Sub</span>
                  <span class="delet"><i class="fa fa-trash-o"></i></span>
                </li>
                <li>
                  <span class="addr">dockyard@163.com</span>
                  <span class="verified">Send Email</span>
                  <span class="relation">Sub</span>
                  <span class="delet"><i class="fa fa-trash-o"></i></span>
                </li> -->
              </ul>
            </div>
          </div>
          <ul class="password">
            <li>
              <span class="space-text">Old Password</span>
              <input type="password"/>
            </li>
            <li>
              <span class="space-text">New Password</span>
              <input type="password"/>
            </li>
            <li>
              <span class="space-text">Confirm Password</span>
              <input type="password"/>
            </li>
            <li>
              <button>Save</button>
            </li>
          </ul>
          <form class="infor"></form>
        </div>
      </div>
      <div id="notify" class="tab-pane">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam vitae architecto ratione molestiae. Qui nemo delectus voluptate velit asperiores, quia quam esse, consectetur. Voluptatum est quae, vero ipsa nulla incidunt.
      </div>
      <div id="linkAccount" class="tab-pane">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laborum recusandae, fugiat reprehenderit, laboriosam ipsam autem ea quo, repudiandae odio at. Ut maiores reprehenderit architecto. Dolor dignissimos placeat perspiciatis recusandae.
      </div>
    </div>
  </div>
</div>